body
{
    height: 820px;

	background-image: linear-gradient(to top right , black, grey, aliceblue, azure,  ghostwhite, white);
}
#h12{
    font-family:monospace;
    font-style:italic;
    font-weight: bolder;
    font-variant: small-caps;
    background-image: linear-gradient(to bottom right , black, grey);
    margin-left:300px;
    margin-right: 300px;
    color: white
}


